.about {
  // .about__container
  background: url("../assets/bg-inner.png") center center/cover no-repeat;
}
.about-inner {
  // .about-inner__title
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  max-width: 1030px;
  @media (max-width: $mobile) {
    justify-content: flex-start;
  }
  margin: 0 auto;
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    @include adaptiveValue("font-size", 64, 32);
    margin-top: 38px;
    color: $textColor;
  }

  // .about-inner__description

  &__description {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    @include adaptiveValue("font-size", 24, 16);

    line-height: 24px;
    color: $textColor;
  }
}
.about-content {
  > * {
    color: $textColor;
  }
  // .about-content__title

  &__title {
    margin-top: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    span {
      font-weight: 700;
      font-size: 40px;
    }
  }
  &__image {
    img {
      width: 100%;
      object-fit: cover;
      margin-top: 24px;
      margin-bottom: 24px;
      border-radius: 8px;
    }
  }
  // .about-content__description

  &__description {
    margin-top: 24px;
    line-height: 34px;
    @include adaptiveValue("font-size", 24, 16);
  }
}
.about-button {
  display: block;
  @include adaptiveValue("margin-top", 96, 48);
  margin-bottom: 64px;
}
