//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: max-content;
  padding: 13px 58px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.btn-primary {
  position: relative;
  color: $textColor;
  background-color: $mainColor;
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 3px solid $mainColor;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    background: none;
    &::before {
      // opacity: 0.5;
      top: 0;
      left: 0;
    }
  }
}
